@import "@/src/app/mixins";

.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 20px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 8px 0  12px;

  @include font(36px, 140%, 600);

  &Small {
    @include font(24px, 130%, 600);
  }
}

.description {
  @include font(18px, 130%);

  &Small {
    padding-top: 20px;

    @include font(16px, 130%);
  }
}

.main {
  display: flex;
  width: 100%;
  padding: 40px 0;

  @include to768 {
    flex-direction: column;
  }
}

.leftPart {
  width: 50%;
  margin-right: 100px;

  @include to768 {
    width: 100%;
    margin-right: 0;
  }
}

.rightPart {
  width: 50%;

  @include to768 {
    width: 100%;
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  margin: 8px 0;
  padding: 12px 16px;
  border: 2px solid var(--color-border);
  border-radius: 8px;
}

.textArea {
  margin: 8px 0;
  padding: 12px 16px;
  border: 2px solid var(--color-border);
  border-radius: 8px;
  min-height: 144px;
  resize: vertical;
}

.button {
  padding: 16px 28px;
  background-color: var(--color-text-main);
  color: var(--color-primary);
  border-radius: 8px;
  cursor: pointer;

}
